[Unit]
Description=Téléchargement des paquets à mettre à jour
Wants=timer-hourly.timer

[Service]
Nice=19
IOSchedulingClass=2
IOSchedulingPriority=7
ExecStart=/usr/local/bin/updown

[Install]
WantedBy=timer-hourly.target
